html {
    font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif !important;
}
.dark-theme, :root {
    --bg: #232527;
    --pri: #1b1d1e;
    --sec: #191b1d;
    --tri: #1b1d1e;
    --txt: #fff;
    --lnk: #fff;
}
.light-theme {
    --bg: #e9e9e9 !important;
    --pri: #c7c7c7 !important;
    --sec: #cccccc !important;
    --tri: #cacaca !important;
    --txt: rgb(0, 0, 0) !important;
    --lnk: #1b5c9e !important;
}
body, .outerContentFrame, .ls-master-footer, .ls-master-container2 {
    background-color: var(--bg) !important;
    font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif !important;
}
a[href] {
    color: var(--lnk) !important;
    background-image: none !important;
    background-color: transparent !important;
}
td {
    
    font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif !important;
    font-weight: 300 !important;
    /* font-size: 16px !important; */
}
.ls-master-container1, .ls-master-container2 {
    width: 100% !important;
}
#s_m_outerContentFrameDiv {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
}
h2, h1, h3, div[role="heading"] {
    color: var(--txt) !important;
}
body * {
    color: var(--txt);
}
.tooltip, .islandHeader, .maintitle, .ls-master-header-institution, .tooltip *, .tooltiphead, .s2weekHeader *, .s2dayHeader *, #cluetip *, .s2dayHeaderSimple, .dashboardLinkHeaderInfoText, .activityHeader, #homeworkContentContainer * {
    color: var(--txt) !important;
    background: transparent !important;
}
.islandHeaderContainer {
    background-color: var(--pri) !important;
    border: none !important;
}
.islandContent {
    background-color: var(--sec) !important;
}
.island {
    background-image: none !important;
    border: none !important;
}
.s2dayHeaderSimple {
    background: transparent !important;
}
.ls-master-header, .lectioToolbar.lectioBorderTop.lectioBorderBot, .ls-island4, .ls-texteditor-container, #s_m_Content_Content_tocAndToolbar_tocContainer, #s_m_Content_Content_tocAndToolbar_outerContentContainer, .ls-paper, .lc-display-fragment {
    background-color: var(--sec) !important;
    background-image: none !important;
    font-weight: 500 !important;
    font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif !important;
}
.toggleTocElementImg {
    background: none !important;
}
.lectioBorderRight {
    border-right: none !important;
}

.lectioBorderLeft {
    border-left: none !important;
}
.lec-context-menu {
    background-color: var(--pri) !important;
    border: none !important;
}
.cluetip-inner, #cluetip {
    background-color: var(--pri) !important;
    border: none !important;
}
.lectioToolbar {
    background-color: var(--sec) !important;
    background-image: none !important;
    /* font-size: 16px !important; */
    font-weight: 500 !important;
    border: none !important;
}
.lectioToolbar.lectioBorderTop.lectioBorderBot {
    border: solid var(--sec) !important;
    border-width: 0 0 1px !important;
}
.ls-master-container1 .ls-master-container2 .ls-master-header-institution {
    background-image: none !important;
    /* font-size: 16px !important; */
    font-weight: 500 !important;
    font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif !important;
}
#name, .text-box, .form-select, .form-control, #SelectedGroupId, select, textarea, #devex-widget, option, input {
    /* height: 28px; */
    background-color: var(--txt) !important;
    border-color: #bdbebe !important;
    color: #bdbebe !important;
    border-radius: 8px !important;
}
#s_m_searchpanel {
    height: 100% !important;
}
#s_m_helptipDiv {
    display: none !important;
}
.ui-dialog {
    background-color: var(--tri) !important;
    border: none !important;
}
.ui-dialog-titlebar {
    background-color: var(--pri) !important;
    background-image: none !important;
    border: none !important;
}
#s_m_HeaderContent_subnavigator_generic_tr {
    border: none !important;
}
#s_m_HeaderContent_subnav_div {
    margin-top: 10px !important;
}
#printallarea, .lectioTabContent, .lectioTabFooter, .ls-questionnaire-question, .ls-island2, .ls-tocContainer-outer {
    background-color: transparent !important;
    border: none !important;
    background-image: none !important;
}
.ls-std-rowblock {
    background-color: var(--tri) !important;
    border: none !important;
    background-image: none !important;
}
table *, .ls-phase-activity{
    /* background-color: var(--tri) !important; */
    background-image: none !important;
}
table, tbody, tr, td, .s2skemabrikcontainer, .s2module-bg {
    border-collapse: collapse !important;
    background-color: var(--tri) !important;
    width: 100% !important;
}
/* td {
    padding: 5px !important;
    border-left: 0 !important;
    border-right: 0 !important;
    margin: 0 !important;
    text-align: left !important;
} */
.s2skemabrikInnerContainer, .s2skemabrikInnerContainer * {
    /* background-color: var(--bg) !important; */
}
a.s2bgbox {
    border: solid 1px var(--sec) !important;
}
.s2skema td {
    border: none !important;
}
.ui-dialog-buttonpane {
    background: none !important;
}
.ls-island4 {
    box-shadow: 0.2em 0.2em 0.2em rgb(0 0 0 / 10%) !important;
    border: none !important;
}
.ls-texteditor-toolbarContainer *, .ls-toolbarMenuInnerContainer, .lc-document-slide {
    border: none !important;
    background: none !important;
}
.cke_inner * {
    color: var(--txt) !important;
}
.hideSkema {
    display: none !important;
}
.noteBtnDiv {
    padding: 5px;
}
.noteBtnDiv:hover {
    cursor: pointer;
}
#s_m_Content_Content_skemaIsland_pa .s2skemabrikcontent, .phase, #s_m_Content_Content_contentPnl .s2skemabrikcontent{
    background: var(--pri) !important;
}
.colHeader, .table-col-fixed, .ls-phase-activity, .ls-container, #printareawishes{
    background: none !important;
}
.forsideBoks {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
}
.forsideNonzoomed {
    height: 114vh !important;
}
.forsideZoomed {
    height: 125vh !important;
}
.lectioBorderBot, .activityHeader, .lectioSimpleBox list, .ui-datepicker-header {
    border: none !important;
    background-color: var(--sec) !important;
    background-image: none !important;
}
.list TH, .ls-table-layout1 TH, .list, .ls-table-layout1, .list TR, .ls-table-layout1 TR, .buttonHeader A, INPUT.buttonHeader, BUTTON.buttonHeader, .lectioSimpleBox list {
    border: none !important;
    border-collapse: collapse !important;
}
input[type="checkbox"]:checked:before {
    color: var(--bg) !important;
}
#s_m_Content_Content_SkemaNyMedNavigation_skema_skematabel {
    width: 100% !important;
    max-width: 100% !important;
}
#studieTabel td, #printareaWishlist th {
    color:var(--txt) !important;
}
#studieTabel td[align="left"], .ShowMessage2Inner h4 {
    font-weight: bold !important;
    color: var(--txt) !important;
}
#printareaWishlist .infoText {
    color: #817f7f !important;
}
.fricount {
    position: absolute;
    top: 45px;
    left: 400px;
}
#contenttable {
    width: 5000px; /* Why?! */
}