html {
    font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif !important;
}
body, .outerContentFrame, .ls-master-footer, .ls-master-container2 {
    background-color: #232527 !important;
    font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif !important;
}
a[href] {
    color: white !important;
    background-image: none !important;
    background-color: transparent !important;
}
td {
    
    font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif !important;
    font-weight: 300 !important;
    /* font-size: 16px !important; */
}
.ls-master-container1, .ls-master-container2 {
    width: 100% !important;
}
#s_m_outerContentFrameDiv {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
}
h2, h1, h3, div[role="heading"] {
    color: #fff !important;
}
body * {
    color: white;
}
.tooltip, .islandHeader, .maintitle, .ls-master-header-institution, .tooltip *, .tooltiphead, .s2weekHeader *, .s2dayHeader *, #cluetip *, .s2dayHeaderSimple, .dashboardLinkHeaderInfoText, #homeworkContentContainer * {
    color: white !important;
}
.islandHeaderContainer {
    background-color: #1b1d1e !important;
    border: none !important;
}
.islandContent {
    background-color: rgb(57, 59, 61) !important;
}
.island {
    background-image: none !important;
    border: none !important;
}
.s2dayHeaderSimple {
    background: transparent !important;
}
.ls-master-header, .lectioToolbar.lectioBorderTop.lectioBorderBot, .ls-island4, .ls-texteditor-container, #s_m_Content_Content_tocAndToolbar_tocContainer, #s_m_Content_Content_tocAndToolbar_outerContentContainer, .ls-paper, .lc-display-fragment {
    background-color: #191b1d !important;
    background-image: none !important;
    font-weight: 500 !important;
    font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif !important;
}
.toggleTocElementImg {
    background: none !important;
}
.lectioBorderRight {
    border-right: none !important;
}

.lectioBorderLeft {
    border-left: none !important;
}
.lec-context-menu {
    background-color: #1b1d1e !important;
    border: none !important;
}
.cluetip-inner {
    background-color: #1b1d1e !important;
    border: none !important;
}
.lectioToolbar {
    background-color: #191b1d !important;
    background-image: none !important;
    /* font-size: 16px !important; */
    font-weight: 500 !important;
    border: none !important;
}
.lectioToolbar.lectioBorderTop.lectioBorderBot {
    border: solid #111214 !important;
    border-width: 0 0 1px !important;
}
.ls-master-container1 .ls-master-container2 .ls-master-header-institution {
    background-image: none !important;
    /* font-size: 16px !important; */
    font-weight: 500 !important;
    font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif !important;
}
#name, .text-box, .form-select, .form-control, #SelectedGroupId, select, textarea, #devex-widget, option, input {
    /* height: 28px; */
    background-color: #393b3d !important;
    border-color: #bdbebe !important;
    color: #bdbebe !important;
    border-radius: 8px !important;
}
#s_m_searchpanel {
    height: 100% !important;
}
#s_m_helptipDiv {
    display: none !important;
}
.ui-dialog {
    background-color: #393b3d !important;
    border: none !important;
}
.ui-dialog-titlebar {
    background-color: #1b1d1e !important;
    background-image: none !important;
    border: none !important;
}
#s_m_HeaderContent_subnavigator_generic_tr {
    border: none !important;
}
#s_m_HeaderContent_subnav_div {
    margin-top: 10px !important;
}
#printallarea, .lectioTabContent, .lectioTabFooter, .ls-questionnaire-question, .ls-island2, .ls-tocContainer-outer {
    background-color: transparent !important;
    border: none !important;
    background-image: none !important;
}
.ls-std-rowblock {
    background-color: #393b3d !important;
    border: none !important;
    background-image: none !important;
}
table *, .ls-phase-activity{
    /* background-color: #393b3d !important; */
    background-image: none !important;
}
table, tbody, tr, td, .s2skemabrikcontainer, .s2module-bg {
    border-collapse: collapse !important;
    background-color: #393b3d !important;
}
/* td {
    padding: 5px !important;
    border-left: 0 !important;
    border-right: 0 !important;
    margin: 0 !important;
    text-align: left !important;
} */
.s2skemabrikInnerContainer, .s2skemabrikInnerContainer * {
    /* background-color: #232527 !important; */
}
a.s2bgbox {
    border: solid 1px #191b1d !important;
}
.s2skema td {
    border: none !important;
}
.ui-dialog-buttonpane {
    background: none !important;
}
.ls-island4 {
    box-shadow: 0.2em 0.2em 0.2em rgb(0 0 0 / 10%) !important;
    border: none !important;
}
.ls-texteditor-toolbarContainer *, .ls-toolbarMenuInnerContainer, .lc-document-slide {
    border: none !important;
    background: none !important;
}
.cke_inner * {
    color: white !important;
}
.hideSkema {
    display: none !important;
}
.noteBtnDiv {
    padding: 5px;
}
.noteBtnDiv:hover {
    cursor: pointer;
}
#s_m_Content_Content_skemaIsland_pa .s2skemabrikcontent, .phase, #s_m_Content_Content_contentPnl .s2skemabrikcontent{
    background: #1b1d1e !important
}
.colHeader, .table-col-fixed, .ls-phase-activity, .ls-container, #printareawishes {
    background: none !important;
}