.forsideBoks {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
}
.forsideZoomed {
    height: 80vh !important;
}
.hideSkema {
    display: none !important;
}
.noteBtnDiv {
    padding: 5px;
}
.noteBtnDiv:hover {
    cursor: pointer;
}
table *, .ls-phase-activity{
    /* background-color: var(--tri) !important; */
    background-image: none !important;
}
.modulcolor {
    background-image: none !important;
    color: white !important;
}
.fricount {
    position: relative;
    padding: 0;
    display: inline-block;
    float: left;
    min-height: 20px;
    margin: 0;
    margin-top: 4px;
    margin-left: 5px;
}