.forsideBoks {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
}
.forsideZoomed {
    height: 80vh !important;
}
.hideSkema {
    display: none !important;
}
.noteBtnDiv {
    padding: 5px;
}
.noteBtnDiv:hover {
    cursor: pointer;
}
table *, .ls-phase-activity{
    /* background-color: var(--tri) !important; */
    background-image: none !important;
}
.modulcolor {
    background-image: none !important;
    color: white !important;
}
.fricount {
    position: relative;
    padding: 0;
    display: inline-block;
    float: left;
    min-height: 20px;
    margin: 0;
    margin-top: 4px;
    margin-left: 5px;
}
#s_m_Content_Content_SkemaNyMedNavigation_skema_skematabel {
    width: 100% !important;
    max-width: 100% !important;
}
#contenttable {
    width: 5000px; /* Why?! */
}
.s2skemabrikcontainer.lec-context-menu-instance {
    width: 100% !important;
    overflow: hidden;
}
.s2brik.lec-context-menu-instance {
    width: 94% !important;
}
.s2skemabrikcontent {
    font-size: small;
}